<module>
    <name>${project.name}</name>
    <displayname>${project.fsmDisplayName} ${fsmIsolationDisplayName}</displayname>
    <version>${project.version}</version>
    <description>${project.fsmDescription}</description>
    <vendor>${project.fsmVendorName}</vendor>
    <components>
        
        <library>
            <name>ModuleLibrary</name>
            <version>${project.version}</version>
            <resources>
                <!-- generated resources from dependencies -->
                <resource scope="server" name="serviceLib">lib/${project.name}-${project.version}.jar</resource>
                ${fsmResourcesList.join('\n')}
            </resources>
       </library>
   </components>
</module>